form {
    margin: $spacer * 2 0;
    max-width: 780px;
}
.form-control {
    
    &:focus {
        border-color: $input-border-color;
        box-shadow: none;
    }
}
.btn-primary,
.btn-secondary {
    color: white;
}

// react-day-picker overwrites
.DayPickerInput {
    display: block!important;
}
.DayPicker-Day--today {
    color: $primary!important;
}
.DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: lighten($primary, 27%)!important;
}